################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HomeSprinkler/v15
/HomeSprinkler/__vm
/HomeSprinkler/Debug